body {
    background-color: #ffd666;
    font-family: 'Nunito', sans-serif;
}

.container {
    padding: 24px;
    display: flex;
    justify-content: center;
}

.topbar {
    background-color: blanchedalmond;
    padding: 24px;
    text-align: center;
    vertical-align: middle;
    align-items: center;
}

#menu {
    display: flex;
    justify-content: space-between;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    font-size: 32px;
    font-weight: 900;
}

#menu a:nth-child(2) {
    margin-left: -150px;
}
#menu img {
    vertical-align: middle;
    height: 68px;
}

#menu h1 {
    cursor: default;
    font-size: 28px;
    font-weight: 900;
}

main {
    background-color: #f5f3f4;
    padding: 8px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 55%;
}

/* images  css */
main > div {
    background-color: white;
    border: 1px solid black;

    width: 250px;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;

    align-items: center;
    text-align: center;
}

main > div img {
    height: 230px;
    max-width: 245px;
    border-radius: 8px;
}

footer {
    padding-top: 5px;
    padding-bottom: 8px;
    width: 100%;
    background-color: black;
    text-align: center;
    color: #f5f3f4;
}