body {
    background-color: #ffd666;
    font-family: 'Nunito', sans-serif;
}

.container {
    padding: 24px;
    display: flex;
    justify-content: center;
}

.sidebar {
    background-color: blanchedalmond;
    border: 1px solid pink;
    display: flex;
    flex-direction: row;
    height: 500px;
    padding: 24px;
    border: 0px;
    border-radius: 10px 0px 0px 10px;
}

main {
    margin-left: 10px;
    height: 500px;
    background-color: #f9f9f9;
    padding: 24px;
    display: flex;
    justify-content: space-between;
}

/* images  css */
main > div {
    background-color: rgba(245, 235, 235, 0.863);
    border-radius: 4px;
    margin: 10px;

    align-items: center;
    text-align: center;
    padding: 10px;
}

main > div img {
    width: 250px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.8) 1px 1px 10px;
}

footer {
    padding: 12px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9f9;
    text-align: center;
}